$primary-color: #51ae9f;
$secondary-color: #26394e;
$tertiary-color: #ddd;
$light-color: #fafafa;
$success-color: #2ecc71;
$error-color: #f03434;
$font-family: 'Poppins', sans-serif;
$border-radius: .3em;
$transition: all .4s cubic-bezier(0.4, 0, 1, 1);
$font-size-title: 2.5rem;
$font-size-subtitle: 1.8rem;
$line-height: 3rem;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;